{% load static %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Peak Services</title>

    <link href= "{% static 'main/style.css' %}" rel="stylesheet"/>
</head>


<body>

    <!----NAVBAR---->

    <nav class="navbar">

        <div class="nav-links">

            {% if user.is_authenticated %}


            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <a href="{% url 'inventory' %}">Inventory</a>


            {% else %}

            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>

            {% endif %}

            <div class="logo">
                Peak Services
            </div>


        </div>
    </nav>

    <!----MAIN---->

    <section id="home" class="main">

        <div class="main-content">

            <p class="title">Welcome, {{ user.username }}!</p>

            <h1>Manage your Business <span>with confidence</span></h1>

            <p class="main-text"> Peak Services provides simple and reliable solutions to help small businesses stay organized, productive and efficient</p>

            <div class="main-buttons">
                <a href="#modules" class="btn primary">Get Started</a>
            </div>


        </div>
    </section>

    <footer>

        <div class="logo">
            Peak Services
            <a href="logo"></a>


        </div>

        <p>Peak Services 2026</p>
    </footer>


</body>
</html>